* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	width: 500px;
	padding: 20px;
	background: #eee;
}

button {
	padding: 3px 15px 8px;
	font-size: 20px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-weight: normal;
	border-radius: 5px;
	color: #fff;
	border: solid 1px #aaa;
}

button:hover {
	color: #1C1C1E;
}

button:active {
	border: #1C1C1E;
}