.queries {}

.queries__title {
	text-align: center;
	font-size: 30px;
}

.queries__link {
	display: block;
	color: #000;
	font-size: 15px;
	margin: 10px 0;
}

.queries__button-group {
	overflow: hidden;
}

.queries__label {
	font-size: 20px;
}

.queries__qty-selector {
	border-radius: 5px;
	font-size: 20px;
	padding: 5px 10px;
}

.queries__logout-button {
	float: right;
	    background: #BD2B11;
}